@page "/create-smt"
@rendermode InteractiveServer

<h3>Create SMT Pair</h3>

<form @onsubmit="AddSMTAsync">
    <div>
        <InputSelect @bind-Value="smtPair.AssetA">
            @foreach (var asset in assets)
            {
                <option value="@asset.Name">@asset.Name</option>
            }
        </InputSelect>
    </div>
    <div>
        <InputSelect @bind-Value="smtPair.AssetB">
            @foreach (var asset in assets)
            {
                <option value="@asset.Name">@asset.Name</option>
            }
        </InputSelect>
    </div>
    <div>
        <InputSelect @bind-Value="smtPair.Correlation">
            @foreach (var correlation in Enum.GetValues(typeof(Correlation)))
            {
                <option value="@correlation">@correlation</option>
            }
        </InputSelect>
    </div>
    <div>
        <InputSelect @bind-Value="smtPair.Strategy">
            @foreach (var strategy in strategies)
            {
                <option value="@strategy">@strategy</option>
            }
        </InputSelect>
    </div>
    <div>
        <button type="submit">Add SMT</button>
    </div>
</form>