@page "/"

<PageTitle>Trading Dashboard</PageTitle>

<h3>Trading Dashboard</h3>


<div>
    @if(trades != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Leverage</th>
                    <th>Asset</th>
                    <th>Broker</th>
                    <th>Strategy</th>
                    <th>Side</th>
                    <th>Size</th>
                    <th>Pnl</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var trade in trades)
                {
                    <tr>
                        <td>@trade.Category</td>
                        <td>@trade.Leverage</td>
                        @if(trade.Relation != null)
                        {
                            <td>@trade.Relation.Asset</td>
                            <td>@trade.Relation.Broker</td>
                            <td>@trade.Relation.Strategy</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                        <td>@trade.Side</td>
                        <td>@trade.Size</td>
                        <td>@trade.UnrealisedPnl</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div>
    @if(trades != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Created Time</th>
                    <th>Leaves Qty</th>
                    <th>Leaves Value</th>
                    <th>Money at Risk</th>
                    <th>Order Status</th>
                    <th>Order Type</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Risk Percentage</th>
                    <th>Side</th>
                    <th>Stop Limit Price</th>
                    <th>Stop Loss</th>
                    <th>Symbol</th>
                    <th>Take Profit</th>
                    <th>Take Profit Limit Price</th>
                    <th>Trigger Direction</th>
                     <th>Trigger Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var trade in trades)
                {
                    @if(trade.Orders != null)
                    {
                        @foreach(var order in trade.Orders)
                        {
                            <tr>
                                <td>@order.Category</td>
                                <td>@order.CreatedTime</td>
                                <td>@order.LeavesQty</td>
                                <td>@order.LeavesValue</td>
                                <td>@order.MoneyAtRisk</td>
                                <td>@order.OrderStatus</td>
                                <td>@order.OrderType</td>
                                <td>@order.Price</td>
                                <td>@order.Qty</td>
                                <td>@order.RiskPercentage</td>
                                <td>@order.Side</td>
                                <td>@order.SlLimitPrice</td>
                                <td>@order.StopLoss</td>
                                <td>@order.Symbol</td>
                                <td>@order.TakeProfit</td>
                                <td>@order.TpLimitPrice</td>
                                <td>@order.TriggerDirection</td>
                                <td>@order.TriggerPrice</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    }
</div>